.contact-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-form,
.contact-info {
    flex: 1;
    min-width: 300px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
    margin-bottom: 15px;
}

.map iframe {
    border-radius: 5px;
    width: 100%;
    height: 350px;
    border: 0;

}