/* Estilo Geral da Seção Nossos Impactos */
#nossos-impactos {
    background-color: #e5f6f0;
    padding: 5rem 1.5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

#nossos-impactos h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 600;
    color: #2196f3;
    margin-bottom: 1rem;
}

#nossos-impactos h1 {
    font-size: clamp(2.5rem, 6vw, 4rem);
    font-weight: 700;
    color: #4CAF50;
    margin: 1.5rem 0;
}

/* Estilo da Calculadora Ambiental */
.calculadora {
    max-width: 1200px;
    margin: 0 auto;
}

.total-compensado {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.valor {
    font-size: 2.5rem;
    color: #2196f3;
    font-weight: 700;
}

/* Barra de progresso */


.barra {
    position: relative;
    width: 100%;
    height: 30px;
    background: linear-gradient(90deg, #4caf50, #8bc34a);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.preenchimento {
    height: 100%;
    width: 0;
    background: #388e3c;
    border-radius: 15px;
    transition: width 0.5s ease-in-out;
}

.texto {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 30px;
    color: white;
    /* Cor branca para contraste */
    font-weight: bold;
    font-size: 14px;
    z-index: 1;
    /* Garante que o texto fique acima do preenchimento */
}


.régua {
    position: relative;
    width: 100%;
    height: 20px;
    background: #e0e0e0;
    border-radius: 10px;
}

.marcador {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #388e3c;
}    /* Ajusta a posição do texto abaixo da régua */

/* Animação da Barra de Progresso */
@keyframes progressBar {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

/* Estilo Grid de Impactos */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.grid-item {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.grid-item:hover {
    transform: translateY(-10px);
}

.grid-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.grid-item p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 0.5rem;
}

.value {
    font-size: 1.5rem;
    font-weight: 700;
    color: #4CAF50;
}

/* Responsividade */
@media (max-width: 768px) {
    .total-compensado {
        font-size: 1.5rem;
    }

    .valor {
        font-size: 2rem;
    }

    .grid-item {
        padding: 1.5rem;
    }

    .grid-item p {
        font-size: 1rem;
    }

    .value {
        font-size: 1.3rem;
    }
}